    

/*-------------------------------------------------------
01. Variable css   #207200 #667829  #436105
---------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&display=swap');

:root {
	--clr-heading: #1a2428;
	--clr-body: #1b1b1b;
	--clr-bg: #f3f6f8;
	--clr-def: #207200;
	--clr-def-2: #667829;
	--clr-def-3: #297802;
	--clr-menu: #FF4A17;
	--clr-white: #fff;
	--clr-black: #000;
	--font-1: 'Barlow', sans-serif;
	--font-2: 'Lora', serif;
	--rad-1: 4px;
    --clr-ftr:#c2d1e2;
    --clr-1:#E3F3FF;
    --clr-2:#209FA3;
    --clr-3:#FF8183;
    --clr-4:#FAC388;
}
 